.panada-logo img{
    height: 2em;
}
.girls-pic{
    height: 400px;
}
.mjacket-3 img{
    height: 250px;
    width: 200px;
}

.mens{
    border: 0;
    border-radius: 20px;
}
.details img{
    height: 60px;
    
}
.details{
    border-radius: 15px;
}