.panada-logo img{
    height:50px;
}

.f3-jack img{
    height: 17rem;
    width: 13rem;
    ;
}
.f3-jack{
    
     border-radius: 15px;
}
.f-jack-foot{
    border: 0;
    background-color:white;
}

.details img{
    height: 60px;
    
}
.details{
    border-radius: 15px;
}